html, h2, h3, h4, p {
	width: 100%;
	height: 100%;
	color: #818d92;
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;	
}

html, body{
	background-color: #d8e5f3;
	background-attachment: 100%;
}

slides > slide.backdrop {
  	z-index: -10;
  	display: block !important;
  	background: #ffffff;
	slide:not(.nobackground):after {
  content: ' ';
	}
}

slides > slide:not(.nobackground):after {
  content: ""
}

title {
	color: #0e2451; 	
	line-height: 36pt;
}


h2 {
	color: #0e2451; 	
	line-height: 30pt;
}

h3 {
	color: #0e2451; 	
	line-height: 28pt;
}

	
h4 { 
	color: #0e2451; 	
	line-height: 24pt;
}


p { 
	color: #ed2354;
	line-height: 22pt
}

aside.gdbar img {
  	width:  170px !important;
 	height: 170px !important;
  	margin: 8px 8px;
}

aside.gdbar {
  	width:  230px !important;
  	height: 230px !important;
}

  




