html, h2, h3, h4, p {
	width: 100%;
	height: 100%;
	color: #818d92;
	font-family: 'Calibri';
	font-style: normal;
	font-weight: 300;
}

html, body{
	background-color: #d8e5f3;
	background-attachment: 100%;
}

slides > slide.backdrop {
  	z-index: -10;
  	display: block !important;
  	background: #ffffff;
	slide:not(.nobackground):after {
  content: ' ';
	}
}


slides > slide:not(.nobackground):after {
  content: ""
}

.title-slide hgroup h1 {
  font-size: 65px;
  line-height: 1.4;
  letter-spacing: -3px;
  color: #0e2451;
}

h2 {
	color: #0e2451;
	line-height: 30pt;
}

h3 {
	color: #0e2451;
	line-height: 28pt;
}


h4 {
	color: #0e2451;
	line-height: 24pt;
}

p {
	color: #ed2354;
	line-height: 22pt
}

aside.gdbar img {
  	width:  170px !important;
 	height: 170px !important;
  	margin: 8px 8px;
}

aside.gdbar {
  	width:  230px !important;
  	height: 230px !important;
}

.prettyprint {
  background-color: #d8e5f3;
}

pre[data-lang]:after {
  content: attr(data-lang);
  background-color: #d8e5f3;
  right: 0;
  top: 0;
  position: absolute;
  font-size: 16pt;
  color: white;
  padding: 2px 25px;
  text-transform: uppercase;
}

code {
  font-size: 95%;
  font-family:'Consolas', consolas;
  color: black;
}

.prettyprint .str,
.prettyprint .atv {
  color: #00929f;
}


.prettyprint .kwd,
.prettyprint .tag {
  /* a markup tag name */
  color: #0066cc;
}

.prettyprint .com {
  /* a comment */
  color: #0e2451;
  font-style: normal;
}

.prettyprint .lit {
  /* a literal value */
  color: 	#00439f
;
}

  pre, code {
    font-family: consolas !important;
}


aside.gdbar {
  height: 125px;
  width: 125px;
  position: absolute;
  left: -1px;
  top: 125px;
  background: #d8e5f3;
}

aside.gdbar img {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 0;
  margin: 8px 15px;
}

.build > * {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition: opacity 0.5s ease-in-out 0.2s;
  -o-transition: opacity 0.5s ease-in-out 0.2s;
  transition: opacity 0.5s ease-in-out 0.2s;
}
